# -----------------------------
# Ambientes virtuais
# -----------------------------
.venv/
env/
venv/

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Arquivos Python compilados
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Testes / Cobertura
# -----------------------------
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# -----------------------------
# Configuração / Builds
# -----------------------------
*.egg-info/
*.egg
build/
dist/

# -----------------------------
# Sistema operacional
# -----------------------------
.DS_Store
Thumbs.db
